In [1]:
import pandas as pd

In [91]:
df = pd.read_csv('F:\\Iphone Data Analysis Pandas\\iphone.csv')
df

,Product Name,Product URL,Brand,Sale Price,Mrp,Number Of Ratings,Number Of Reviews,Upc,Star Rating,Ram
0,"APPLE iPhone 8 Plus (Gold, 64 GB)",https://www.flipkart.com/apple-iphone-8-plus-g...,Apple,49900,49900,3431,356,MOBEXRGV7EHHTGUH,4.6,2 GB
1,"APPLE iPhone 8 Plus (Space Grey, 256 GB)",https://www.flipkart.com/apple-iphone-8-plus-s...,Apple,84900,84900,3431,356,MOBEXRGVAC6TJT4F,4.6,2 GB
2,"APPLE iPhone 8 Plus (Silver, 256 GB)",https://www.flipkart.com/apple-iphone-8-plus-s...,Apple,84900,84900,3431,356,MOBEXRGVGETABXWZ,4.6,2 GB
3,"APPLE iPhone 8 (Silver, 256 GB)",https://www.flipkart.com/apple-iphone-8-silver...,Apple,77000,77000,11202,794,MOBEXRGVMZWUHCBA,NaN,2 GB
4,"APPLE iPhone 8 (Gold, 256 GB)",https://www.flipkart.com/apple-iphone-8-gold-2...,Apple,77000,77000,11202,794,MOBEXRGVPK7PFEJZ,4.5,2 GB
...,...,...,...,...,...,...,...,...,...,...
57,"APPLE iPhone SE (Black, 64 GB)",https://www.flipkart.com/apple-iphone-se-black...,Apple,29999,39900,95909,8161,MOBFWQ6BR3MK7AUG,4.5,4 GB
58,"APPLE iPhone 11 (Purple, 64 GB)",https://www.flipkart.com/apple-iphone-11-purpl...,Apple,46999,54900,43470,3331,MOBFWQ6BTFFJKGKE,4.6,4 GB
59,"APPLE iPhone 11 (White, 64 GB)",https://www.flipkart.com/apple-iphone-11-white...,Apple,46999,54900,43470,3331,MOBFWQ6BVWVEH3XE,4.6,4 GB
60,"APPLE iPhone 11 (Black, 64 GB)",https://www.flipkart.com/apple-iphone-11-black...,Apple,46999,54900,43470,3331,MOBFWQ6BXGJCEYNY,4.6,4 GB
61,"APPLE iPhone 11 (Red, 64 GB)",https://www.flipkart.com/apple-iphone-11-red-6...,Apple,46999,54900,43470,3331,MOBFWQ6BYYV3FCU7,4.6,4 GB

In [92]:
#column names have spaces . rename the column names to have underscore '_' instead of space
df.columns= df.columns.str.lower()

In [93]:
df.columns = df.columns.str.replace(' ','_')

In [95]:
df[df['star_rating'].isna()]

,product_name,product_url,brand,sale_price,mrp,number_of_ratings,number_of_reviews,upc,star_rating,ram
3,"APPLE iPhone 8 (Silver, 256 GB)",https://www.flipkart.com/apple-iphone-8-silver...,Apple,77000,77000,11202,794,MOBEXRGVMZWUHCBA,NaN,2 GB
10,"Apple iPhone XR (Black, 64 GB)",https://www.flipkart.com/apple-iphone-xr-black...,Apple,39999,47900,79512,6796,MOBF9Z7ZPHGV4GNH,NaN,4 GB
32,"APPLE iPhone 12 Pro Max (Graphite, 128 GB)",https://www.flipkart.com/apple-iphone-12-pro-m...,Apple,120900,129900,580,45,MOBFWBYZFDGQSDWS,NaN,6 GB

In [96]:
#filling missing values with avg rating of full dataset , 
#fill with avg rating based on RAM. example :  
#if rating for a 2 gb phone is missing then take average of all other 2 gb phones rating and fill that value.

In [97]:
#for 2gb ram
m1 = df.loc[df['ram'] == '2 GB','star_rating'].mean()
print(m1)
df.loc[df['ram'] == '2 GB', 'star_rating']=df.loc[df['ram'] == '2 GB', 'star_rating'].fillna(m1)

#for 4gb ram
m2 = df.loc[df['ram'] == '4 GB','star_rating'].mean()
print(m2)
df.loc[df['ram'] == '4 GB', 'star_rating']=df.loc[df['ram'] == '4 GB', 'star_rating'].fillna(m2)

#for 6gb ram
m3 = df.loc[df['ram'] == '6 GB','star_rating'].mean()

df.loc[df['ram'] == '6 GB', 'star_rating']=df.loc[df['ram'] == '6 GB', 'star_rating'].fillna(m3)
print(m3)

4.541666666666667
4.5892857142857135
4.577777777777777

In [98]:
df.loc[[3,10,32],'star_rating']

3     4.541667
10    4.589286
32    4.577778
Name: star_rating, dtype: float64

In [99]:
#Creating a new column in the dataframe "Discount_Percentage" based on MRP and sale value
df['discount_percentage'] = round(((df['mrp']-df['sale_price'])/df['mrp'])*100,2)

In [100]:
#which model has highest percent discount ?
df['discount_percentage'].max()

29.64

In [210]:
print('The Model with highest percent discount is:')
df[df['discount_percentage']==df['discount_percentage'].max()]['product_name']

The Model with highest percent discount is:

18    APPLE iPhone 11 Pro (Midnight Green, 64 GB)
Name: product_name, dtype: object

In [102]:
#total no of models for each space configuration
def extract_storage(product_name):
    # Spliting the product name by '(' 
    parts = product_name.split('(')
    if len(parts) > 1:
        # Take the text inside the parentheses
        inside = parts[1].strip().replace(")", "")
        if ',' in inside:
            # Storage will be the part after the comma
            storage = inside.split(',')[1].strip()
            return storage
    return None

df['storage'] = df['product_name'].apply(extract_storage)

In [103]:
df['storage']

0      64 GB
1     256 GB
2     256 GB
3     256 GB
4     256 GB
       ...
57     64 GB
58     64 GB
59     64 GB
60     64 GB
61     64 GB
Name: storage, Length: 62, dtype: object

In [209]:
print('Total no of models for each space configuration is:')
df['storage'].value_counts()

Total no of models for each space configuration is:

storage
128 GB    24
64 GB     20
256 GB    14
512 GB     4
Name: count, dtype: int64

In [107]:
#total number of models for each color 

def extract_color(product_name):
    # Split the product name by '(' and ')' to get parts within parentheses
    parts = product_name.split('(')
    if len(parts) > 1:
        # Check if the second part contains a comma (,) to identify color
        color_part = parts[1].strip()
        if ',' in color_part:
            color = color_part.split(',')[0].strip()
            return color
    return None

df['color'] = df['product_name'].apply(extract_color)

In [208]:
print('Total number of models foreach color is:')
df['color'].value_counts()

Total number of models foreach color is:

color
Black             10
White             10
Silver             7
Gold               6
Space Grey         6
Red                5
Midnight Green     4
Pacific Blue       4
Graphite           4
Blue               2
RED                1
Coral              1
Green              1
Purple             1
Name: count, dtype: int64

In [112]:
df['product_name']

0            APPLE iPhone 8 Plus (Gold, 64 GB)
1     APPLE iPhone 8 Plus (Space Grey, 256 GB)
2         APPLE iPhone 8 Plus (Silver, 256 GB)
3              APPLE iPhone 8 (Silver, 256 GB)
4                APPLE iPhone 8 (Gold, 256 GB)
                        ...
57              APPLE iPhone SE (Black, 64 GB)
58             APPLE iPhone 11 (Purple, 64 GB)
59              APPLE iPhone 11 (White, 64 GB)
60              APPLE iPhone 11 (Black, 64 GB)
61                APPLE iPhone 11 (Red, 64 GB)
Name: product_name, Length: 62, dtype: object

In [116]:
#total number of models by iphone version
def model(product_name):
    lst = product_name.split('(')
    if len(lst) > 1:
        model = lst[0]
        return model
    return None

df['model'] = df['product_name'].apply(model)

In [207]:
print('Total number of models by iphone version is:')
df['model'].value_counts()

Total number of models by iphone version is:

model
APPLE iPhone 12 Pro Max     8
APPLE iPhone 12             7
APPLE iPhone 11             7
APPLE iPhone 12 Mini        6
APPLE iPhone 8 Plus         5
Apple iPhone XR             5
APPLE iPhone 11 Pro Max     5
APPLE iPhone 12 Pro         5
APPLE iPhone SE             5
APPLE iPhone 11 Pro         4
APPLE iPhone 8              3
APPLE iPhone XS Max         1
Apple iPhone SE             1
Name: count, dtype: int64

In [206]:
# top 5 models having highest no of reviews 
top_models = df.groupby('model')['number_of_reviews'].sum().sort_values( ascending=False).head(5)
print('Top 5 models having highest no of reviews is:')
print(top_models)

Top 5 models having highest no of reviews is:
model
APPLE iPhone SE     40791
Apple iPhone XR     33988
APPLE iPhone 11     23369
Apple iPhone SE      8161
APPLE iPhone 8       2382
Name: number_of_reviews, dtype: int64

In [140]:
#the price diffrence between highest price and lowest price iphone (based on mrp)
max_price = df['mrp'].max()
print('Max Price is: ',max_price)
min_price = df['mrp'].min()
print('Min Price is: ',min_price)
diff = max_price - min_price
print('The Difference between max price and min price is: ',diff)

Max Price is:  149900
Min Price is:  39900
The Difference between max price and min price is:  110000

In [163]:
#total no of reviews for iphone 11 and iphone 12 category . Output should have only 2 rows
Total_reviews = df[df['model'].str.contains('iPhone 11|iPhone 12', case=False)].groupby('model', as_index=False)['number_of_reviews'].sum()


print(Total_reviews)

                      model  number_of_reviews
0          APPLE iPhone 11               23369
1      APPLE iPhone 11 Pro                2091
2  APPLE iPhone 11 Pro Max                 505
3          APPLE iPhone 12                1256
4     APPLE iPhone 12 Mini                 382
5      APPLE iPhone 12 Pro                 210
6  APPLE iPhone 12 Pro Max                 360

In [195]:
 #iphone has 3rd highest MRP
third_highest = df[['model', 'mrp']].sort_values('mrp', ascending=False).drop_duplicates(subset=['model']).iloc[2]   

print("iPhone with 3rd highest MRP:\n",third_highest)

iPhone with 3rd highest MRP:
 model    APPLE iPhone 12 Pro Max
mrp                        139900
Name: 31, dtype: object

In [198]:
# average mrp of iphones which costs above 100,000
high_end = df[df['mrp'] > 100000]
avg_high_end_mrp = round(high_end['mrp'].mean(),2)
print("Average MRP of iPhones costing above 100,000:", avg_high_end_mrp)

Average MRP of iPhones costing above 100,000: 130559.09

In [204]:
#the iPhone with the highest ratings-to-reviews ratio
df_128 = df[df['storage'].str.contains("128 GB", case=False)].copy()
df_128['rating_to_review_ratio'] = df_128['star_rating'] / df_128['number_of_reviews']
best_iphone_128 = df_128.loc[df_128['rating_to_review_ratio'].idxmax()]
print('The iphone with highest rating to reviews ratio is:')
print(best_iphone_128['model'])

The iphone with highest rating to reviews ratio is:
APPLE iPhone 12 Pro